.container-shadow{
  padding: 0px;
}
.image-container-Shadow {
  position: relative;
  height: 100%;
  width:100%;
  overflow: hidden;
}

.image-shadow {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Content-Shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 1s ease;
}

.image-container-Shadow:hover .Content-Shadow {
  opacity: 1;
}

.image-container-Shadow:hover .image {
  transform: scale(1.05);
  transition: transform 1s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 0 0 8px rgba(255, 255, 255, 0.2);
}

.Content-Shadow h1,
.Content-Shadow p {
  margin: 0;
  padding-top: 10px;
  font-size: 15px;
}

.Content-Shadow p {
  font-size: 10px;
}

@media (max-width: 767px) {
  .Content-Shadow h1,
  .Content-Shadow p {
      margin: 0;
      padding-top: 10px;
  }

  .image-container-Shadow {
      position: relative;
      height: 100%; 
      width: 100%; 
      overflow: hidden;
  }
}

@media (max-width: 575px) {
  .Content-Shadow h1,
  .Content-Shadow p {
      margin: 0;
      padding-top: 10px;
      font-size: 10px;
  }

  .image-container-Shadow {
      position: relative;
      height: 100%; 
      width: 100%; 
      overflow: hidden;
  }
}

@media (max-width: 990px) {
  .image-container-Shadow {
    position: relative;
    height: 100%; 
    width: 100%; 
    overflow: hidden;
}
 
}