.contact-button {
  width: 150px;
}

.hidden {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.fadeInS {
  opacity: 1;
  transition: opacity 5s ease-in-out;
}
.custom{
  padding-left: 0px;
}

.stretched-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.type-animation-large {
  height: 200px;
  width: 500px;
}
.image-containerFirst {
  height: 500px;
  width: 500px;
}

.type-animation-large {
  height: 200px;
  width: 300px;
}
.Content{
  visibility: hidden;
}

@media (max-width: 1200px) {
  .stretched-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}




@media (max-width: 767px) {
  .type-animation-large {
    height: 200px;
    width: 300px;
  }
 
  .Content {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 1s ease;
  }

  .image-containerFirst:hover .Content {
    opacity: 1;
  }

  .image-containerFirst:hover .image {
    transform: scale(1.05);
    transition: transform 1s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3),
      0 0 0 8px rgba(255, 255, 255, 0.2);
  }

  .Content h1,
  .Content p {
    margin: 0;
    padding-top: 10px;
    font-size: 15px;
  }

  .Content p {
    font-size: 10px;
  }

  .image-containerFirst {
    position: relative;
    height: 300px;
    width: 300px;
    overflow: hidden;
  }

 
}
