.contact-button {
  width: 150px;
}

.hidden {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.fadeInS {
  opacity: 1;
  transition: opacity 5s ease-in-out;
}

.stretched-image{
  height: 500px;
  width: 500px;
  object-fit: cover;
}
.type-animation-large {
  height: 200px;
  width: 500px;
}

@media (max-width: 1200px) {
  .stretched-image {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }
}

@media (max-width: 522px) {
  .type-animation-large {
    height: 200px;
    width: 400px;
  }
}
