.resume-section {
    position: relative;
    padding-left: 40px;
    margin-bottom: 40px;
}

.resume-section::before {
    content: '';
    position: absolute;
    left: 25px;
    top: 10px;
    bottom: 10px;
    width: 2px;
    background-color: #007bff;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    left: 26px;
    top: 10px;
    transform: translate(-50%, -50%);
}

.resume-item {
    margin-bottom: 20px;
}

.resume-date {
    background-color: #e9ecef;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.summary-section,
.experience-section,
.education-section {
    padding-left: 40px;
}

h2,
h5 {
    margin-bottom: 10px;
}

h5 {
    font-weight: bold;
}

ul {
    padding-left: 20px;
}

.fadeIn {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.fadeIn2 {
    opacity: 1;
    transition: opacity 4s ease-in-out;
}

.hidden {
    opacity: 0;
}
.fadeIn3 {
    opacity: 1;
    transition: opacity 5s ease-in-out;
  }