.hidden {
  opacity: 0;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

video {
  width: 600px;
  height:auto;
  transition: transform 0.1s ease-out;
}

@media (max-width: 1200px) {
  video {
    width: 500px;
    height: auto;
    padding-left:100px;
    transition: transform 0.1s ease-out;
  }
}






