.hidden {
  opacity: 0;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

video {
  width: auto;
  height: 100%;
  transform-origin: center;
  transition: transform 0.1s ease-out;
}






