@import './components/colors.css';

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text-primary);
}

body {
  padding-top: 70px;
  overflow-x: hidden;
}

